<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HTTP自动化测试" >
  <!-- <listeners>
   <listener class-name="com.holmos.webtest.testngextentions.RetryListener"></listener>
   </listeners> -->
   <test name="HTTP自动化测试" >
    <classes>

        <class name="testcases.SendGet">

            <methods>
                <include name="testCase1" />
                <!--<include name="testCase2" />-->
            </methods>
        </class>
        <class name="testcases.SendPost">

            <methods>
                <include name="testCase1" />
                <!--<include name="testCase2" />-->
            </methods>
        </class>
    </classes>
  </test> 
</suite> 
 
 
 
 